body { font-size: 16px; }

h1, h2, h3, h4, h5 { font-family: sans-serif; }

a,
a:visited {
  color: black;
  transition: color .25s;
}

a:hover,
a:focus {
  color: #176abe;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

table {
  width: 100%;
  max-width: 100%;
}

table th,
table, td {
  text-align: left;
}

table .number,
table .date {
  text-align: right;
}

/* buttons */
.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-paypall:hover { color: #fff; }
.btn-paypall { background-color: #ffd390; }

/* TODO base container width on max paragraph length */

/* toc page */
.toc-page {
  /*background: url("/image/frontpage/2015/fp-2015-08-02.svg") no-repeat center/70%;*/
  background-color: #fcf334;
  /*height: 90vh;*/
  font-size: 2em;
  margin: 1em auto;
  width: 66%;
}

.main {
  background-color: #f5fffa;
  font-size: 2em;
  margin: 1em auto;
  width: 66%;
}

.toc-page h1 {
  font-size: 2.5em;
  width: 24rem;
  line-height: 4rem;
  margin-bottom: 16px;
  padding: .25em;
}

.toc-page ul {
  background: yellow;
  margin-left: 8px;
}

.toc-page nav {
  width: 8.5em;
}

.toc-page a:hover,
.toc-page a:focus {
  color: black;
}

.toc-page ul {
  margin-top: 0;
  padding-left: 14px;
}

.toc-page nav li {
  list-style: none;
}

.toc-page .other-stuff  {
  width: 15em;
}

.sketchbooks {
  background-color: #fffafa;
  font-size: 2em;
  margin: 1em auto;
  width: 90%;
}

.sketchbook-page-container {
  margin: 1em auto;
  width: 66%;
}

/* helpers */
.bare-link {
  color: black;
  text-decoration: none;
}

.bare-link:hover,
.bare-link:focus {
  color: black;
}

.big-text {
  font-size: 2em;
  line-height: 1.25;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.tight-bottom { margin-bottom: 0; }

/* global navigation */
.global-nav,
.global-nav a,
.global-nav a:visited {
    color: black;
    font-family: sans-serif;
}

/* front page */
.front-page {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.front-page-navigation { align-self: flex-end; }

.front-page-navigation a,
.front-page-navigation a:hover,
.front-page-navigation a:visited { color: #fff; }

.front-page-navigation ul {
    padding-right: 1em;
    padding-left: .75em;
    background: black;
}

.front-page-item {
    flex: 1;
    margin: 4em auto;
    width: 50vh;
    height: 100vh;
}

/* Frpntpage archive */
.frontpage-archive { margin: 0; }

.frontpage-archive .global-nav {
  font-size: 2em;
  margin-left: 5%;
  margin-top: 1.25rem;
}

.frontpage-archive h2 {
  font-size: 2em;
  margin-left: 5%;
}


.frontpage-archive .front-page-item {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.frontpage-archive .front-page-item img {
  width: 50vh;
}

@media (max-width: 640px) {
    .front-page-item { margin: 1em auto; }
}
@media (min-width: 641px) and (max-width: 1024px) {
    .front-page-item {
        margin: 2em auto;
    }
}
@media (max-height: 384px) {
    .front-page-item {
        width: 42vh;
    }
}
@media (max-height: 480px) {
    .front-page-item {
        width: 46vh;
    }
}
@media (max-height: 800px) {
    .front-page-item {
        margin: 1em auto 0;
    }
}

/* Sketchbooks */
.sketchbooks { margin-top: 1.25rem; }
.sketchbook-panel p { margin: 0; }

/*
  TODO after updating to grid layout remove this
  this is for sketchbooks listed as a vertical list rather then grid
 */
.sketchbook-list li { margin-bottom: 1.5rem; }

.sb-index h2 { text-transform: capitalize; }

.sketchbook-page h2 {
  font-size: 16px;
  text-transform: capitalize;
}

.sketchbook-page h3 { font-size: 1em; }
.sketchbook-page

.sketchbook-page .inline-dl { font-size: .85rem; }
.sketchbook-page .inline-dl dd { margin: 0 0 .5rem 6rem; }
.sketchbook-page .inline-dl dt {
  font-weight: normal;
  margin: 0;
  width: 2em;
}

.sb-nav {
  font-size: 1em;
  position: fixed;
  right: 2em;
}


.sb-nav li {
  list-style: none;
  margin-bottom: .5em;
}

/* grid stuff */
/* Use Item Grid for zines, drawings, etc... */
.item-grid {
  display: grid;
  grid-gap: 20px;
}

/* if no grid suuprt */
.item-grid {
  display: flex;
  flex-wrap: wrap;
}

.item-grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.item-header { margin-bottom: 0; }

.item-header,
.item-footer {
  flex: 0 1 100%;
  grid-column: 1 / -1;
  margin-left: 5px;
  margin-right: 5px;
}

.item-panel {
  /* needed for the flex layout */
  flex: 1 1 200px;
  margin-left: 5px;
  margin-right: 5px;
}

@supports(display: grid ) {
  .item-grid { margin: 0; }

  .item-header,
  .item-footer,
  .item-panel {
    margin-left: 0;
    margin-right: 0;
  }

  .item-panel { grid-auto-rows: minmax(150px, auto); }
}

/* flex fallback where no grid support */
.sketchbook-grid {
  display: flex;
  flex-wrap: wrap;
}

.sketchbook-panel {
  /* needed for the flex layout */
  flex: 1 1 200px;
  padding-right: 10px;
}

@supports(display: grid ) {
  .sketchbook-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 10%);
    grid-template-rows: auto;
    margin: 0;
  }

  .sketchbook-panel { padding-right: 0; }
}

.sketchbook-header,
.sketchbook-footer {
  flex: 0 1 100%;
  grid-column: 1 / -1;
}
/* shop grid */
/* TODO could i just use the item grid here? */
/* flex fallback where no grid support */
.shop-grid {
  display: flex;
  flex-wrap: wrap;
}

.shop-panel {
  /* needed for the flex layout */
  flex: 1 1 200px;
  padding-right: 10px;
}

@supports(display: grid) {
  .shop-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 15%);
    grid-template-rows: auto;
    margin: 0;
  }

  .shop-panel { padding-right: 0; }
}

.shop-header,
.shop-footer {
  flex: 0 1 100%;
  grid-column: 1 / -1;
  margin-bottom: 0;
}


@media (min-width: 421px) {
  .sb-nav { top: calc(50% - 4em); }
}

@media (max-width: 420px) {
  .main,
  .toc-page {
    font-size: 1.75em;
    width: 90%;
  }

  .main li,
  .toc-page li {
    padding-bottom: 8px;
  }

  .sketchbooks {
    font-size: 1.75em;
    width: 94%;
  }

  .sketchbooks h1 {
    margin-bottom: 26px;
    margin-top: 20px;
  }

  .sketchbook-grid {
    grid-gap: 9px;
    grid-template-columns: repeat(auto-fill, 12%);
  }

  .sketchbook-page-container {
    width: 100%;
  }

  .sketchbook-page-container .global-nav {
    margin-left: 1em;
  }

  .sketchbook-page h2 {
    margin-left: 1em;
  }

  .sb-nav {
    bottom: .25em;
    font-size: 1em;
    line-height: 26px;
    right: 1em;
  }

  .toc-page h1 {
    margin-top: .5em;
    padding: 0;
    text-align: left;
  }

  .toc-page nav,
  .toc-page .other-stuff {
    width: 100%;
  }

  .toc-page ul {
    margin-left: 0;
    padding-left: 0;
  }
}
