body {

}

h1, h2, h3, h4, h5 { font-family: sans-serif; }

img { width: 100%; }

/* TODO base container width on max paragraph length */
.main {
  margin: 4em auto;
  width: 50%;
}

.big-text {
  font-size: 2em;
  line-height: 1.25;
}


.front-page-nav ul {
	display: flex;
	flex-direction: row;
}

.front-page-nav li {
	list-style: none;
	flex: 1;
}

.front-page-nav-newer {
	 align-self: flex-end;
	 text-align: right
}
.front-page-item {
	border-radius: 4px;
	max-width: 100%;
	margin: 2rem auto 2.5rem;
	padding: 2rem;
}

.front-page-item img {
	display: block;
	margin: 0 auto;
	width: 50%;
}
